:root {
  --black: #000001;
  --white: #ffffff;
  --main-color: #6839ff;
  --sub-color: #0000b9;
  --screen-color: #003d56;
  --text-color: #47e388;
  --main-shadow-color: #00000040;
  --light-blue: #1578f8;
}
